* {
    padding: 0px;
    margin: 0px;
}
.cabecera {
    display: flex;
    flex-direction: row;
}
.logo {
    width:18%;
    margin-top: 1%;
    position:relative;
}
.logo img {
    width: 100%;
}
.navImagen {
    width: 100%;

}
.navImagen img {
    width: 75%;
    margin: 0px 150px;
    
}

.navegador {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: #27b7db;

}

.navegador li {
    list-style: none;
    display: inline-block;
    padding: 5px 50px;
    margin-bottom: -2%;
    margin-left: -5%;
    font-size: 35px;
    background-color: #27b7db;    
    list-style: none;
    text-decoration: none;
    color: #1e1d1d;
}


.carrito {
    display: flex;
    position: absolute;
    right: 15px;
    font-size: 2em;
    margin-top: 1%;
    margin-right: 2%;
    color: black;
}


/*.contador {
    margin: 100px;
}
.contenedor {
    display: flex;
    flex-direction: column;
    width: 18rem;
    border: 2px solid rgb(48, 146, 243);
    border-radius: 10%;
    padding: 20px;
}*/

.botones {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.contDetalle {
    display: flex;
    flex-direction: row;
    margin-right: 20%;
    margin-left: 15%;
}

.imgDetail {
    width: 60%;
}
.detalles {
    width: 40%;
    margin-left: 5%;
}
.botonera {
    margin-top: 20%;
}

.listaCompra {
    display: flex;
    flex-direction: row;
    border:2px solid #27b7db ;
    width: 90%;
    margin: 2%;
    justify-content: space-around;
    
}

.listaCompra img {
    width: 5%;
}

.listaCompra h2 {
    margin-top: 1%;
}

.listaCompra button {
    width: 10%;
}

.carritoVacio {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carritoVacio img {
    width: 15%;
}

.carritoVacio button {
    width: 400px;
    height: 40px;
    background-color: #27b7db;

}


/* footer */

footer {
    bottom: 0px;
    background-color: #8350af;
    padding-top: 10px;
    position: relative;
    width: 100%;
    margin-top: 100px;
}

footer img {
    width: 50px;
    margin: 5px;
}

.footer_title {
    text-align: center;
    font-size: 25px;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.footer_copy {
    background-color: black;
    color: #ffffff;
    padding: 5px;
    margin-top: 10px;
    align-self: center;
    text-align: center;
    width: 100%;
}

.redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
}