* {
    padding: 0px;
    margin: 0px;
}
.cabecera {
    display: flex;
    flex-direction: row;
}
.logo {
    width:18%;
    margin-top: 1%;
    position:relative;
}
.logo img {
    width: 100%;
}
.navImagen {
    width: 100%;

}
.navImagen img {
    width: 75%;
    margin: 0px 150px;
    
}

.navegador {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: #27b7db;

}

.navegador li {
    list-style: none;
    display: inline-block;
    padding: 5px 50px;
    margin-bottom: -2%;
    margin-left: -5%;
    font-size: 35px;
    background-color: #27b7db;    
    list-style: none;
    text-decoration: none;
    color: #1e1d1d;
}


.carrito {
    display: flex;
    position: absolute;
    right: 15px;
    font-size: 2em;
    margin-top: 1%;
    margin-right: 2%;
    color: black;
}



.botones {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.contDetalle {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-right: 20%;
    margin-left: 15%;
    margin-bottom: 20%;
    margin-top: 2%;
}

.imgDetail {
    width: 25%;
}
.detalles {
    width: 60%;
    margin-left: 5%;
}
.botonera {
    margin-top: 20%;
}

.listaCompra {
    display: flex;
    flex-direction: row;
    border:2px solid #27b7db ;
    width: 90%;
    margin: 2%;
    justify-content: space-around;
    margin-bottom: 50px;
    
}

.listaCompra img {
    width: 5%;
}

.listaCompra h2 {
    margin-top: 1%;
}

.listaCompra button {
    width: 10%;
    
}

.carritoTotal {
    text-align-last: right;
    margin-right: 10%;
    margin-bottom: 10%;

}

.carritoTotal button{
	width:12%;
	padding:8px 16px;
    padding-right: 25px;
	margin-top:32px;
    margin-left: 5px;
	border:1px solid#27b7db;
	border-radius:5px;
	color:rgb(8, 8, 8);
	background-color:#27b7db;

}

.carritoVacio {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carritoVacio img {
    width: 15%;
}

.carritoVacio button {
    width: 400px;
    height: 40px;
    background-color: #27b7db;

}


.contenedorForm {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 160px;
    
}

.error {
    color: red;
    font-size: small;
}
.formulario {
	width:350px;
	padding:30px;
	border-radius:10px;
	margin:10px;
    align-self: center;
	background-color:#a9e8f8;   
}

.formulario label {
    width:80px;
	font-weight:bold;
	display:inline-block;
}

.formulario input {
	width:200px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}

.enviar{
	width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid#27b7db;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#27b7db;
} 

.gracias {
    width:450px;
	padding:30px;
	border-radius:10px;
	margin:auto;
	background-color:#a9e8f8; 
    margin-bottom: 250px;
}



/* footer */

footer {
    bottom: 0px;
    background-color:#176376;
    padding-top: 10px;
    position: relative;
    width: 100%;
    margin-top: 100px;
}

footer img {
    width: 50px;
    margin: 5px;
}

.footer_title {
    text-align: center;
    font-size: 25px;
    color: #ffffff;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.footer_copy {
    background-color: black;
    color: #ffffff;
    padding: 5px;
    margin-top: 10px;
    align-self: center;
    text-align: center;
    width: 100%;
}

.redes {
    display: flex;
    flex-direction: row;
    justify-content: center;
}